body{
    background-image: url("https://static.wikia.nocookie.net/trollhunters/images/1/15/E6atuDzWUAEb6yY.jpg/revision/latest?cb=20210716151306");
    background-size: 1500px 900px;
    color:white
}