body{
    background-image: url("https://upload.wikimedia.org/wikipedia/en/b/b4/At-the-movies.jpg");
    background-size:  1500px 1000px;
}
ul{
   
    padding: 10px;
    width: 400px;
    height:100px;
}
div{
    background-color: orange;
    opacity: 0.6;
}
a{
    text-decoration: none;
}